
  <!DOCTYPE html>
<html lang="en">
  <head>


    <title>Image Classification</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/logo.png" >
  </head>
  <body>
  {{> header}}

    <main>
        <section id="about">
            <h2>About this website</h2>
            <p>Welcome to our website! We're here to help you with image processing and classification.</p>
            <p>Upload an image, and our system will use a deep learning model to classify it and provide you with the results.</p>
            <p>Explore the world of image analysis with us and discover what's hidden within your pictures.</p>
          </section>
        
        </div>
    </main>
    
</body>
{{> footer}}

</html>