<!DOCTYPE html>
<html lang="en">
  <head>


    <title>Image Classification</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/logo.png" >
  </head>
  <body>
  {{> header}}
  <h1>Work In Progress</h1>

</body>
{{> footer}}

</html>