<!DOCTYPE html>
<html lang="en">
  <head>


    <title>AI Photo Studio</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/logo.png" >
  </head>
  <body>
  {{> header}}

    <main>
        <p>Upload an image and the AI will describe it !</p>
        <input type="file" id="imageInput" accept="image/*" class="custom-file-input">

          <div id="imageContainer">
            <div class="image-content">
            <img id="uploadedImage" src="" alt="" >
           <label for="imageInput" class="custom-file-input-label">Choose an Image</label>
          </div>
             <div id="pasteBox" class="paste-box"></div>

        </div>
        <p></p>

        <button id="processButton" class="custom-upload-button">🔎 Ask the AI 🤖</button>  
        <p></p>
        <div id="predictionBox">
          <p id="predictedLabel"></p>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.min.js"></script>
	<script src="./js/app.js"></script>

</body>
{{> footer}}

</html>