<!DOCTYPE html>
<html lang="en">
  <head>


    <title>Image Classification</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/logo.png" >
  </head>
  <body>
  {{> header}}

    <main>
        <p>Choose an image to upload and process it</p>
        <input type="file" id="imageInput" accept="image/*" class="custom-file-input">

          <div id="imageContainer">
            <img id="uploadedImage" src="" alt="" >
           <label for="imageInput" class="custom-file-input-label">Choose an Image</label>
            
          </div>
        <button id="processButton" class="custom-upload-button">Process Image</button>  
    </main>
	<script src="./js/app.js"></script>
  {{> footer}}

</body>
</html>