<header>
    <h1>{{title}}</h1>
    <div class="navbar"> 
        <a href="/" class="nav-link" class="active">Ask anything to the AI 🤖!</a>
        {{!-- <a href="/boost" class="nav-link">AI Photo boost</a> --}}
        {{!-- <a href="/erazer" class="nav-link">AI Magic Erazer</a> --}}
        <a href="/about" class="nav-link">Behind the scenes</a>
    </div>
</header>