body {
  color: #333333;
  font-family: system-ui, sans;
  max-width: 100%;
  margin: 0 auto;
  /* padding: 0 16px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5; /* Light gray background color */
  
}

/* Style the header */
header {
    background-color: #3498dbed; /* Background color for the header */
    color: #fff; /* Text color for the header */
    padding: 20px; /* Padding around text */
    text-align: center; /* Center-align text */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
    flex: 0 0 auto; 
  }


/* Style the navigation links */

  .navbar {
    width: 50%;
    background-color: #555;
    /* overflow: auto; */
    flex: 0 0 auto; 

  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #235d1900;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: #04AA6D;
  }
  

  a {
    color: #ffffff;
    position: relative;
    text-decoration: none;
  }
  
  a::before {
    background: hsl(0, 0%, 0%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }
  
  a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

  


  


footer{
    margin-top: auto;
    background: #ffffff; 
    border-top: 1px solid #cccccc;
    padding: 16px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    background-color: #3498db; /* Background color for the header */
    flex: 0 0 auto; 
    width: 100%;

} 



  
  /* Style the h1 text within the header */
  header h1 {
    font-size: 28px; /* Adjust the font size */
    margin: 0; /* Remove margin to prevent spacing */
  }
  


#imageContainer {
    width: 224px; /* Set the desired width */
    height: 224px; /* Set the desired height */
    border: 2px solid #000; /* Add a border for a nice frame */
    overflow: hidden; /* Hide any overflowing image content */
    position: relative; /* Required for absolute positioning */
    margin: 0 auto; /* Set left and right margins to "auto" for horizontal centering */
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
#uploadedImage {
  display: block;
  margin: auto; /* Center horizontally */
  max-width: 100%; /* Adjust the maximum width */
  max-height: 100%; /* Adjust the maximum height */
  object-fit: contain;
  }

#uploadedImage[src=""] {
    display: none;
  }

.custom-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  
.custom-upload-button{
    background-color: #10ad1b; /* Background color for the button and label */
    color: #fff; /* Text color for the button and label */
    border: none; /* Remove button and label border */
    padding: 10px 20px; /* Padding around text for button and label */
    cursor: pointer; /* Change cursor to a hand pointer on hover */
    border-radius: 5px; /* Rounded corners */
  }
.custom-file-input-label {
  background-color: #007bff; /* Background color for the button and label */
  color: #fff; /* Text color for the button and label */
  border: none; /* Remove button and label border */
  padding: 10px 20px; /* Padding around text for button and label */
  cursor: pointer; /* Change cursor to a hand pointer on hover */
  border-radius: 5px; /* Rounded corners */
  position: absolute; /* Position label absolutely within the container */
  top: 50%; /* Place label at the vertical center */
  left: 50%; /* Place label at the horizontal center */
  transform: translate(-50%, -50%); /* Center the label */
}
  
.custom-upload-button:hover {
    background-color: #67f98e; /* Change background color on hover for button and label */
  }
  
.custom-file-input-label:hover {
  background-color: #0056b3; /* Change background color on hover for button and label */
}

  .custom-file-input {
    display: none; /* Hide the default file input */
  }
  


  /* Add styling for the prediction box */
  #predictionBox {
    border: 2px solid #007bff; /* Blue border for the prediction box */
    background-color: #fff; /* White background color */
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  
  /* Style the predicted label text */
  #predictedLabel {
    font-size: 20px;
    color: #333;
  }



  /* BOOSTING*/
  .boostingMain {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .boosting-custom-file-input-label {
    background-color: #007bff; /* Background color for the button and label */
    color: #fff; /* Text color for the button and label */
    border: none; /* Remove button and label border */
    padding: 10px 20px; /* Padding around text for button and label */
    cursor: pointer; /* Change cursor to a hand pointer on hover */
    border-radius: 5px; /* Rounded corners */
    position: absolute; /* Position label absolutely within the container */
    top: 50%; /* Place label at the vertical center */
    left: 50%; /* Place label at the horizontal center */
    transform: translate(-50%, -50%); /* Center the label */
  }
    
    
  .boosting-custom-file-input-label:hover {
    background-color: #0056b3; /* Change background color on hover for button and label */
  }
  .boosting-custom-file-input {
    display: none;
  }
  
  .boosting-image-output-box {
    flex: 1;
    margin-top: 20px;
  }
  
  .boosting-custom-upload-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add spacing between the button and the boxes */
  }
  
  .boosting-custom-upload-button {
    background-color: #10ad1b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .boosting-custom-upload-button:hover {
    background-color: #67f98e;
  }
  
  #boostingLeftImageContainer {
    width: 224px;
    height: 224px;
    border: 2px solid #000;
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* Center the container horizontally */
    text-align: center;
    margin-top: 75px; /* Add a margin to the left side to create space */

    margin-left: 200px; /* Add a margin to the left side to create space */
  }
  
  #boostingOutputContainer {
    width: 224px;
    height: 224px;
    border: 2px solid #000;
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* Center the container horizontally */
    text-align: center;
  }

  #boostingUploadedImage {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: contain; /* Preserve aspect ratio and cover the container */
  }

#boostingUploadedImage[src=""] {
    display: none;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .paste-box {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-image: url('../img/paste_img.jpg');
    background-size: cover;
    cursor: pointer;
    border-radius: 5px;
  }